{% extends "base.html" %}

{% block body %}
<div class="v-flex v-center fill-vertical">
    <div class="centered" style="text-align: center;" id="welcome-msg">
        <div> Welcome back </div>
        {% if current_user.is_authenticated %}
        <span>
            {{ current_user.username }}
        </span>
        {% endif %}
    </div>

    <div class="centered v-flex action-group">
        <a class="btn dark-btn index-actions" href="{{url_for('transaction.deposit')}}">
            Deposit
        </a>
        <a class="btn dark-btn index-actions" href="{{url_for('transaction.withdraw')}}">
            Withdraw
        </a>
        <a class="btn dark-btn index-actions" href="{{url_for('transaction.transactions')}}">
            Transaction Log
        </a>
    </div>
</div>
{% endblock %}