{% extends "base.html" %}

{% block body %}
<div class="fill-vertical centered child-vertical-centered">
    <form method="POST" action="{{ url_for('account.login', next=next) }}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username(size=20) }}
        <br>
        {{ form.password.label }} {{ form.password(size=20, type='password') }}
        <br>
        <input type="submit" value="Login" class="centered">
        or <a class="btn" href="{{url_for('account.register')}}"> Go Register </a>
    </form>
</div>
{% endblock %}
