{% extends "base.html" %}

{% block body %}
<table>
    <thead>
        <tr class="head">
            <th colspan="3"> Latest {{ transactions | count }} Transaction Logs</th>
        </tr>
    </thead>
    <tbody>
        {% for tran in transactions %}
        <tr>
            <td class="transaction-type"> {{ tran.type }} </td>
            <td class="transaction-amount"> {{ tran.deposit_amount }} </td>
            <td class="transaction-amount"> {{ tran.withdraw_amount }} </td>
        </tr>
        {% endfor %}

        <tr></tr>
    </tbody>
</table>
<div style="flex-grow: 1;"></div>
<table id="balance">
    <tbody>
        <tr class="balance">
            <td class="transaction-type"> Account Balance </td>
            <td class="transaction-amount"></td>
            <td class="transaction-amount"> ${{ current_user.balance }} </td>
        </tr>
    </tbody>
</table>
{% endblock %}